<?xml version="1.0"?>
<launch>
	<arg name="gui" default="true"/>
	<arg name="world" default="house"/>
	<arg name="rvizconfig" default="$(find ninjabot_navigation)/rviz/navigation.rviz"/>
	<param name="use_gui" value="$(arg gui)"/>
	
	<include file="$(find ninjabot_simulation)/launch/$(arg world).launch"></include>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"></node>
	
	<node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>
	
	<!-- map server -->
	<include file="$(find ninjabot_navigation)/launch/map_server.launch">
		<arg name="map_name" default="house"/>
	</include>

	<!-- amcl -->
	<include file="$(find ninjabot_navigation)/launch/amcl.launch">
		<arg name="scan_topic" default="/ninjabot/scan"/>
	</include>

	<!-- move base -->
	<include file="$(find ninjabot_navigation)/launch/move_base.launch">
	</include>
</launch>
