<?xml version="1.0"?>
<launch>
	<arg name="gui" default="true"/>
	<arg name="rvizconfig" default="$(find ninjabot_navigation)/rviz/navigation.rviz"/>
	<param name="use_gui" value="$(arg gui)"/>
	
	
	<node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>
	
	<!-- map server -->
	<include file="$(find ninjabot_navigation)/launch/map_server.launch">
		<arg name="map_name" default="house"/>
	</include>

	<!-- amcl -->
	<include file="$(find ninjabot_navigation)/launch/amcl.launch">
		<arg name="scan_topic" default="/ninjabot/scan"/>
	</include>

	<!-- move base -->
	<include file="$(find ninjabot_navigation)/launch/move_base.launch">
        <arg name="localPlanner" default="$(find ninjabot_navigation)/config/real_base_local_planner_params.yaml"/>
	</include>
</launch>
