<launch>
	<arg name="gui" default="true"/>
	<arg name="world" default="house"/>
	<arg name="rvizconfig" default="$(find ninjabot_mapping)/rviz/mapping.rviz"/>
	<param name="use_gui" value="$(arg gui)"/>
	
	<include file="$(find ninjabot_simulation)/launch/$(arg world).launch"></include>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"></node>
	
	<node name="rviz" pkg="rviz" args="-d $(arg rvizconfig)" type="rviz" required="true"/>
	<include file="$(find ninjabot_mapping)/launch/gmapping.launch"></include>

</launch>
